﻿.container {
	padding:16;
}

label {
	float:left;
	font-weight: bold;
	font-size: 14;
}

.form-input {
	font-weight:bold
	width: 200;
}

.form-header {
	background-color: #01579B;
	color: white;
	padding:8;
	padding-top:16;
	padding-bottom:16;
}

.form-header-text {
	font-size:24;
	font-family: Roboto;
	font-weight:bold;
}

.birthday-text {
	font-size: 18;
}

.flag-image {
	width:100;
	height:100;
}

.bio-text {
	font-color: black;
	font-size: 16;
	padding: 16;
	margin: 16;
}